# === Operating System Files ===
.DS_Store
Thumbs.db
desktop.ini

# === IDE / Code Editor Settings ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# === Local Environment & Backups ===
.env
.env.local
*.log
.clog
backend/node_modules/

# === Project Specific Sandbox Items ===
# Un-comment the line below if you start testing local image uploads or mock assets
# assets/temp/